@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center ">
    <ul>
   @foreach (var item in Model.CategoryList.Categories)
    {
      
            <li>
                <a>@item.Name</a>
                @foreach (var itemInItem in item.Categories)
                {
                    <ul>
                        <li>@itemInItem.Name</li>
                    </ul>
                    
                }
            </li>
       
    }
    </ul>
</div>

@section Scripts {
   

}