@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center ">
    <ul>
   @foreach (var item in Model.CategoryList)
    {
      
            <li>
                <a>@item.Name</a>
            </li>
       
    }
    </ul>
</div>

@section Scripts {
   

}